.restartButton {
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #404040;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}

.restartButton:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}