.navigationDrawer {
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
    left: -20%;
    top: 0;
    width: 20%;
    padding: 32px;
    padding-top: 80px;
    z-index: 1;
    background-color: #ffffff;
}

.navigationItemGroupTitle {
    color: #808080;
}

.navigationItem {
    color: #404040;
    padding: 8px 16px;
    border-radius: 16px;
    margin: 4px;
}

.navigationItem:hover:not(.active) {
    background-color: #eeeeee;
}

.active {
    background-color: rgba(19, 137, 253, 0.15);
    color: #1389fd;
}